---
import "../../styles/style.css";
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プライバシーポリシー - FiddleBops - オンライン無料音楽制作ゲーム</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const navToggle = document.querySelector('.nav-toggle');
    const navLinks = document.querySelector('.nav-links');

    navToggle.addEventListener('click', function() {
        navLinks.classList.toggle('active');
    });
});
  </script>
</head>
<body>
    <header>
<nav>
            <div class = "nav-top">
                <div class="logo"><a href="/ja">FiddleBops</a></div>
               <button class="nav-toggle">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </button>

            </div>
            <ul class="nav-links">
                <li><a href="/ja">ホーム</a></li>
                <li><a href="/ja#descrip">FiddleBopsの遊び方</a></li>
                <li><a href="/ja#faq">よくある質問</a></li>
            </ul>

        </nav>
    </header>
   <main>
<section>
  <h1>プライバシーポリシー</h1>

  <p>最終更新日：2025年2月14日</p>

  <p>当社は、お客様のプライバシーを非常に重視しています。本プライバシーポリシーは、当社がお客様の個人情報を収集、使用、開示、および保護する方法について説明するものです。</p>

  <h2>収集する情報</h2>

  <p>お客様が当社のサービスをご利用になる際、当社は以下の種類の個人情報を収集する場合があります。</p>

  <ul>
    <li><strong>デバイス情報：</strong>お客様のIPアドレス、デバイスの種類、ブラウザの種類、オペレーティングシステムなど。</li>
    <li><strong>Cookieおよび類似の技術：</strong>当社は、お客様の当社のサービスへのアクセスまたは利用に関する情報を収集および保存するために、Cookieおよび類似の技術を使用する場合があります。</li>
  </ul>

  <h2>情報の使用</h2>

  <p>当社は、収集した個人情報を以下の目的で使用する場合があります。</p>

  <ul>
    <li>お客様に当社のサービスを提供および維持するため。</li>
    <li>当社のサービスを分析および改善するため。</li>
    <li>不正行為を防止し、セキュリティを確保するため。</li>
  </ul>

  <h2>情報の共有と開示</h2>

  <p>当社は、お客様の個人情報を第三者に販売、賃貸、または取引することはありません。ただし、当社はお客様の情報を以下の第三者と共有する場合があります。</p>

  <ul>
    <li><strong>サービスプロバイダー：</strong>当社は、当社に代わってサービスを提供したり、サービス関連機能を実行したりするために、第三者の企業や個人と提携する場合があります。</li>
    <li><strong>法的要件：</strong>当社は、法律または法的手続きにより要求された場合、お客様の個人情報を開示する場合があります。</li>
    <li><strong>お客様の同意：</strong>お客様の同意を得た場合、当社はお客様の個人情報を他の当事者と共有する場合があります。</li>
  </ul>

  <h2>情報の保護</h2>

  <p>当社は、お客様の個人情報を不正アクセス、変更、または開示から保護するために、適切なセキュリティ対策を講じています。しかしながら、インターネットの性質上、情報の絶対的な安全性を保証することはできません。</p>

  <h2>プライバシーポリシーの更新</h2>

  <p>当社は、本プライバシーポリシーを随時更新する場合があります。更新されたプライバシーポリシーは、発効日より前に本ページに掲載されます。当社がお客様の個人情報をどのように保護しているかについて常に最新の情報を得るために、本ページを定期的に確認することをお勧めします。</p>

  <h2>お問い合わせ</h2>

  <p>本プライバシーポリシーについてご質問やご意見がございましたら、以下の連絡先までお問い合わせください。</p>
</section>
    </main>
     <footer>
       <section class="footer-content">
         <div class="brand">
           <div class="logo">FiddleBopsについて</div>
           <p> FiddleBopsの異なるバージョンには若干の違いがある場合があります。上記の記述は、一般的なゲームプレイの枠組みを提供するものです。<br>特定のFiddleBopsゲームについては、より具体的な手順が提供されている場合があります。
           </p>
         </div>
         <div class="footer-links">
        <div class="legal">
           <h3>法律</h3>
            <ul>
                 <li><a href="/ja/privacy" rel="nofollow">プライバシーポリシー</a></li>
                 <li><a href="/ja/terms-of-service" rel="nofollow">サービス利用規約</a></li>
            </ul>
         </div>
         <div class="language">
           <h3>言語選択</h3>
           <ul>
            <li><a href="/privacy">English</a></li>
            <li><a href="/zh/privacy">中文</a></li>
            <li><a href="/fr/privacy">Français</a></li>
            <li><a href="/es/privacy">Español</a></li>
            <li><a href="/de/privacy">Deutsch</a></li> 
            <li><a href="/ja/privacy">日本語</a></li>
            <li><a href="/ko/privacy">한국어</a></li>
            </ul>
         </div>
        </div>
      </section>
     <p class="copyright">© 2025 FiddleBops All rights reserved.</p>
    </footer>
</body>
</html>