---
import "../../styles/style.css";
---

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보처리방침 - FiddleBops 온라인 무료 음악 창작 게임</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const navToggle = document.querySelector('.nav-toggle');
    const navLinks = document.querySelector('.nav-links');

    navToggle.addEventListener('click', function() {
        navLinks.classList.toggle('active');
    });
});
  </script>
</head>
<body>
    <header>
<nav>
            <div class = "nav-top">
                <div class="logo"><a href="/ko">FiddleBops</a></div>
               <button class="nav-toggle">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </button>

            </div>
            <ul class="nav-links">
                 <li><a href="/ko">홈</a></li>
                <li><a href="/ko#descrip">FiddleBops 플레이 방법</a></li>
                <li><a href="/ko#faq">자주 묻는 질문</a></li>
            </ul>

        </nav>
    </header>
   <main>
<section>
  <h1>개인정보처리방침</h1>

  <p>최종 업데이트 날짜: 2025년 02월 14일</p>

  <p>저희는 귀하의 개인 정보 보호를 매우 중요하게 생각합니다. 본 개인정보처리방침은 귀하의 개인 정보를 수집, 사용, 공개 및 보호하는 방법에 대한 저희의 관행을 설명합니다.</p>

  <h2>수집하는 정보</h2>

  <p>귀하가 저희 서비스를 사용하는 동안, 저희는 다음 유형의 개인 정보를 수집할 수 있습니다:</p>

  <ul>
    <li><strong>장치 정보:</strong> 귀하의 IP 주소, 장치 유형, 브라우저 유형, 운영 체제 등과 같습니다.</li>
    <li><strong>쿠키 및 유사 기술:</strong> 저희는 귀하의 서비스 방문 또는 사용에 대한 정보를 수집하고 저장하기 위해 쿠키 및 유사 기술을 사용할 수 있습니다.</li>
  </ul>

  <h2>정보 사용 방법</h2>

  <p>저희는 수집한 개인 정보를 다음과 같은 목적으로 사용할 수 있습니다:</p>

  <ul>
    <li>저희 서비스를 제공하고 유지하기 위해;</li>
    <li>저희 서비스를 분석하고 개선하기 위해;</li>
    <li>사기를 방지하고 보안을 보장하기 위해.</li>
  </ul>

  <h2>정보의 공유 및 공개</h2>

  <p>저희는 귀하의 개인 정보를 제3자에게 판매, 대여 또는 거래하지 않습니다. 그러나 저희는 다음과 같은 제3자와 귀하의 정보를 공유할 수 있습니다:</p>

  <ul>
    <li><strong>서비스 제공업체:</strong> 저희는 저희를 대신하여 서비스를 제공하거나 서비스 관련 기능을 수행하기 위해 제3자 회사 및 개인과 협력할 수 있습니다.</li>
    <li><strong>법적 요구 사항:</strong> 저희는 법률 또는 법적 절차에 따라 귀하의 개인 정보를 공개할 수 있습니다.</li>
    <li><strong>귀하의 동의:</strong> 귀하의 동의를 얻은 경우, 저희는 다른 당사자와 귀하의 개인 정보를 공유할 수 있습니다.</li>
  </ul>

  <h2>정보 보호 방법</h2>

  <p>저희는 귀하의 개인 정보를 무단 접근, 수정 또는 공개로부터 보호하기 위해 적절한 보안 조치를 구현했습니다. 그러나 인터넷의 특성상 정보의 절대적인 보안을 보장할 수는 없습니다.</p>

  <h2>본 개인정보처리방침의 업데이트</h2>

  <p>저희는 수시로 본 개인정보처리방침을 업데이트할 수 있습니다. 업데이트된 개인정보처리방침은 효력 발생일 이전에 본 페이지에 게시됩니다. 귀하의 개인 정보를 어떻게 보호하는지에 대한 최신 정보를 얻기 위해 본 페이지를 정기적으로 검토하는 것이 좋습니다.</p>

  <h2>연락처</h2>

  <p>본 개인정보처리방침에 대한 질문이나 의견이 있으시면 다음 연락처로 문의해 주십시오.</p>
</section>
    </main>
     <footer>
       <section class="footer-content">
         <div class="brand">
           <div class="logo">FiddleBops 정보</div>
           <p> FiddleBops의 다른 버전은 약간씩 다를 수 있습니다. 위의 설명은 일반적인 게임 플레이 프레임워크를 제공합니다. <br>특정 FiddleBops 게임에 대한 더 구체적인 단계가 제공될 수 있습니다.
           </p>
         </div>
        <div class="footer-links">
         <div class="legal">
           <h3>법률</h3>
            <ul>
                 <li><a href="/ko/privacy" rel="nofollow">개인정보처리방침</a></li>
                  <li><a href="/ko/terms-of-service" rel="nofollow">서비스 약관</a></li>
            </ul>
         </div>
           <div class="language">
            <h3>언어 선택</h3>
            <ul>
                 <li><a href="/privacy">English</a></li>
                 <li><a href="/zh/privacy">中文</a></li>
                  <li><a href="/fr/privacy">Français</a></li>
                 <li><a href="/es/privacy">Español</a></li>
                  <li><a href="/de/privacy">Deutsch</a></li>
                <li><a href="/ja/privacy">日本語</a></li>
                <li><a href="/ko/privacy">한국어</a></li>
             </ul>
           </div>
         </div>
       </section>
     <p class="copyright">© 2025 FiddleBops All rights reserved.</p>
    </footer>
</body>
</html>