---
import "../../styles/style.css";
---

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiddleBops 온라인 무료 음악 창작 게임</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const navToggle = document.querySelector('.nav-toggle');
    const navLinks = document.querySelector('.nav-links');

    navToggle.addEventListener('click', function() {
        navLinks.classList.toggle('active');
    });
});
  </script>
</head>
<body>
    <header>
<nav>
            <div class = "nav-top">
                <div class="logo"><a href="/ko">FiddleBops</a></div>
               <button class="nav-toggle">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </button>

            </div>
            <ul class="nav-links">
                 <li><a href="/ko">홈</a></li>
                <li><a href="/ko#descrip">FiddleBops 플레이 방법</a></li>
                <li><a href="/ko#faq">자주 묻는 질문</a></li>
            </ul>

        </nav>
    </header>
   <main>
<section>
  <h1>서비스 약관</h1>

  <p>최종 업데이트 날짜: 2025년 02월 13일</p>

  <h2>1. 서비스 설명</h2>
  <p>본 서비스 약관은 귀하와 FiddleBops 간의 당사 서비스 사용에 관한 법적 계약을 규정합니다. 당사 서비스에 액세스하거나 사용함으로써 귀하는 본 계약의 모든 조건에 동의하는 것입니다. 본 계약의 일부에 동의하지 않는 경우, 당사 서비스를 사용할 수 없습니다.</p>

  <h2>2. 사용자 책임</h2>
  <p>귀하는 당사 서비스를 불법적인 활동이나 불법 행위에 사용하지 않을 것에 동의합니다.</p>
  <p>귀하는 당사 서비스의 정상적인 운영을 어떤 식으로든 방해, 손상 또는 파괴하지 않을 것에 동의합니다.</p>
  <p>귀하는 당사 서비스를 이용하여 타인의 권리를 침해하는 행위 (지적 재산권 침해, 개인 정보 보호 권리 침해 등을 포함하되 이에 국한되지 않음)에 관여하지 않을 것에 동의합니다.</p>

  <h2>3. 서비스 사용 규칙</h2>
  <p>귀하는 당사가 제정한 모든 서비스 사용 규칙 및 정책을 준수할 것에 동의합니다.</p>
  <p>당사는 당사의 판단에 따라 언제든지 서비스에 대한 귀하의 액세스를 수정, 일시 중단 또는 종료할 권리를 보유합니다.</p>

  <h2>4. 서비스 변경 및 종료</h2>
  <p>당사는 당사의 판단에 따라 언제든지 사전 통지 없이 당사 서비스를 수정, 일시 중단 또는 종료할 권리를 보유합니다.</p>
  <p>귀하는 당사가 서비스 변경 또는 종료에 대해 어떠한 책임도 지지 않는다는 데 동의합니다.</p>

  <h2>5. 책임 제한</h2>
  <p>귀하는 이익 손실, 데이터 손실 등을 포함하되 이에 국한되지 않고, 당사 서비스 사용으로 인해 발생하는 직접적, 간접적, 특별 또는 결과적 손해에 대해 당사가 책임을 지지 않는다는 데 동의합니다.</p>

  <h2>6. 지적 재산권</h2>
  <p>당사는 소프트웨어, 상표, 로고 등을 포함하되 이에 국한되지 않고 당사 서비스의 모든 지적 재산권을 보유합니다. 어떠한 기업 또는 개인도 본 사이트의 콘텐츠를 복사하거나 미러링할 수 없습니다.</p>

  <h2>7. 기타 약관</h2>
  <p>본 계약은 서비스와 관련하여 귀하와 당사 간의 완전한 합의를 구성하며 귀하와 당사 간의 이전의 구두 또는 서면 합의를 대체합니다.</p>
  <p>본 계약의 조항이 무효하거나 시행할 수 없는 것으로 간주되더라도 다른 조항의 유효성 및 시행 가능성에는 영향을 미치지 않습니다.</p>

  <h2>8. 약관 변경 설명</h2>
  <p>당사는 사용자에게 사전 통지 없이 언제든지 본 서비스 약관을 수정할 권리를 보유하며, 모든 수정 사항에 대해 본 페이지에 게시합니다. 귀하는 최신 서비스 약관을 얻기 위해 본 페이지를 정기적으로 확인해야 하며, 본 서비스를 계속 사용하는 것은 사용자가 수정된 약관을 수락한 것으로 간주됩니다.</p>

  <h2>9. 연락처</h2>
  <p>본 개인정보처리방침에 대한 문의 사항이나 의견이 있으시면 다음 연락처로 문의해 주십시오.</p>
</section>
    </main>
     <footer>
       <section class="footer-content">
         <div class="brand">
           <div class="logo">FiddleBops 정보</div>
           <p> FiddleBops의 다른 버전은 약간씩 다를 수 있습니다. 위의 설명은 일반적인 게임 플레이 프레임워크를 제공합니다. <br>특정 FiddleBops 게임에 대한 더 구체적인 단계가 제공될 수 있습니다.
           </p>
         </div>
        <div class="footer-links">
         <div class="legal">
           <h3>법률</h3>
            <ul>
                 <li><a href="/ko/privacy" rel="nofollow">개인정보처리방침</a></li>
                  <li><a href="/ko/terms-of-service" rel="nofollow">서비스 약관</a></li>
            </ul>
         </div>
           <div class="language">
            <h3>언어 선택</h3>
            <ul>
                 <li><a href="/terms-of-service">English</a></li>
                 <li><a href="/zh/terms-of-service">中文</a></li>
                  <li><a href="/fr/terms-of-service">Français</a></li>
                 <li><a href="/es/terms-of-service">Español</a></li>
                  <li><a href="/de/terms-of-service">Deutsch</a></li>
                <li><a href="/ja/terms-of-service">日本語</a></li>
                <li><a href="/ko/terms-of-service">한국어</a></li>
             </ul>
           </div>
         </div>
       </section>
     <p class="copyright">© 2025 FiddleBops All rights reserved.</p>
    </footer>
</body>
</html>