---
import "../../styles/style.css";
---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique de confidentialité - FiddleBops Jeu de création musicale en ligne gratuit</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const navToggle = document.querySelector('.nav-toggle');
    const navLinks = document.querySelector('.nav-links');

    navToggle.addEventListener('click', function() {
        navLinks.classList.toggle('active');
    });
});
  </script>
</head>
<body>
    <header>
<nav>
            <div class = "nav-top">
                <div class="logo"><a href="/fr">FiddleBops</a></div>
               <button class="nav-toggle">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </button>

            </div>
            <ul class="nav-links">
                <li><a href="/fr">Accueil</a></li>
                <li><a href="/fr#descrip">Comment jouer à FiddleBops</a></li>
                <li><a href="/fr#faq">FAQ</a></li>
            </ul>

        </nav>
    </header>
   <main>
<section>
  <h1>Politique de confidentialité</h1>

  <p>Dernière mise à jour : 14 février 2025</p>

  <p>Nous prenons votre vie privée très au sérieux. Cette politique de confidentialité explique nos pratiques en matière de collecte, d'utilisation, de divulgation et de protection de vos informations personnelles.</p>

  <h2>Informations que nous recueillons</h2>

  <p>Lorsque vous utilisez nos services, nous pouvons recueillir les types d'informations personnelles suivants :</p>

  <ul>
    <li><strong>Informations sur l'appareil :</strong> telles que votre adresse IP, le type d'appareil, le type de navigateur, le système d'exploitation, etc.</li>
    <li><strong>Cookies et technologies similaires :</strong> Nous pouvons utiliser des cookies et des technologies similaires pour recueillir et stocker des informations sur vos visites ou votre utilisation de nos services.</li>
  </ul>

  <h2>Comment nous utilisons vos informations</h2>

  <p>Nous pouvons utiliser les informations personnelles que nous recueillons pour :</p>

  <ul>
    <li>Fournir et maintenir nos services ;</li>
    <li>Analyser et améliorer nos services ;</li>
    <li>Prévenir la fraude et assurer la sécurité.</li>
  </ul>

  <h2>Partage et divulgation d'informations</h2>

  <p>Nous ne vendrons, ne louerons ni n'échangerons vos informations personnelles à des tiers. Toutefois, nous pouvons partager vos informations avec les tiers suivants :</p>

  <ul>
    <li><strong>Prestataires de services :</strong> Nous pouvons nous associer à des entreprises et des personnes tierces pour fournir des services ou exécuter des fonctions liées aux services en notre nom ;</li>
    <li><strong>Exigences légales :</strong> Nous pouvons divulguer vos informations personnelles si la loi ou une procédure judiciaire l'exige ;</li>
    <li><strong>Votre consentement :</strong> Nous pouvons partager vos informations personnelles avec d'autres parties avec votre consentement.</li>
  </ul>

  <h2>Comment nous protégeons vos informations</h2>

  <p>Nous avons mis en œuvre des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès, modification ou divulgation non autorisés. Cependant, en raison de la nature d'Internet, nous ne pouvons garantir la sécurité absolue des informations.</p>

  <h2>Mises à jour de cette politique de confidentialité</h2>

  <p>Nous pouvons mettre à jour cette politique de confidentialité de temps à autre. Toute politique de confidentialité mise à jour sera publiée sur cette page avant la date d'entrée en vigueur. Nous vous encourageons à consulter régulièrement cette page pour rester informé de la manière dont nous protégeons vos informations personnelles.</p>

  <h2>Contactez-nous</h2>

  <p>Si vous avez des questions ou des commentaires sur cette politique de confidentialité, veuillez nous contacter en utilisant les coordonnées suivantes :</p>
</section>
    </main>
     <footer>
       <section class="footer-content">
         <div class="brand">
           <div class="logo">À propos de FiddleBops</div>
           <p> Veuillez noter que les différentes versions de FiddleBops peuvent varier légèrement. La description ci-dessus fournit un cadre de jeu général.<br>Des étapes plus spécifiques peuvent être disponibles pour des versions spécifiques du jeu FiddleBops.
           </p>
         </div>
        <div class="footer-links">
         <div class="legal">
           <h3>Mentions légales</h3>
            <ul>
                 <li><a href="/fr/privacy" rel="nofollow">Politique de confidentialité</a></li>
                  <li><a href="/fr/terms-of-service" rel="nofollow">Conditions d'utilisation</a></li>
            </ul>
        </div>
         <div class="language">
           <h3>Sélection de la langue</h3>
           <ul>
            <li><a href="/privacy">English</a></li>
            <li><a href="/zh/privacy">中文</a></li>
            <li><a href="/fr/privacy">Français</a></li>
            <li><a href="/es/privacy">Español</a></li>
            <li><a href="/de/privacy">Deutsch</a></li> 
            <li><a href="/ja/privacy">日本語</a></li>
            <li><a href="/ko/privacy">한국어</a></li>
            </ul>
         </div>
        </div>
      </section>
     <p class="copyright">© 2025 FiddleBops Tous droits réservés.</p>
    </footer>
</body>
</html>