---
import "../../styles/style.css";
---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions d'utilisation - FiddleBops Jeu de création musicale en ligne gratuit</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const navToggle = document.querySelector('.nav-toggle');
    const navLinks = document.querySelector('.nav-links');

    navToggle.addEventListener('click', function() {
        navLinks.classList.toggle('active');
    });
});
  </script>
</head>
<body>
    <header>
<nav>
            <div class = "nav-top">
                <div class="logo"><a href="/fr">FiddleBops</a></div>
               <button class="nav-toggle">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </button>

            </div>
            <ul class="nav-links">
                <li><a href="/fr">Accueil</a></li>
                <li><a href="/fr#descrip">Comment jouer à FiddleBops</a></li>
                <li><a href="/fr#faq">FAQ</a></li>
            </ul>

        </nav>
    </header>
   <main>
<section>
  <h1>Conditions d'utilisation</h1>

  <p>Dernière mise à jour : 13 février 2025</p>

  <h2>1. Description du service</h2>
  <p>Les présentes conditions d'utilisation définissent l'accord juridique entre vous et FiddleBops concernant l'utilisation de nos services. En accédant à ou en utilisant nos services, vous acceptez de respecter tous les termes et conditions du présent accord. Si vous n'êtes pas d'accord avec une partie quelconque du présent accord, vous ne devez pas utiliser nos services.</p>

  <h2>2. Responsabilités de l'utilisateur</h2>
  <p>Vous acceptez de ne pas utiliser nos services à des fins illégales ou illicites.</p>
  <p>Vous acceptez de ne pas interférer, endommager ou perturber le fonctionnement normal de nos services de quelque manière que ce soit.</p>
  <p>Vous acceptez de ne pas utiliser nos services pour vous livrer à des actions qui enfreignent les droits d'autrui, y compris, mais sans s'y limiter, la violation des droits de propriété intellectuelle ou la violation des droits à la vie privée.</p>

  <h2>3. Règles d'utilisation du service</h2>
  <p>Vous acceptez de respecter toutes les règles et politiques d'utilisation du service établies par nos soins.</p>
  <p>Nous nous réservons le droit de modifier, de suspendre ou de résilier votre accès aux services à tout moment, à notre entière discrétion.</p>

  <h2>4. Modifications et résiliation des services</h2>
  <p>Nous nous réservons le droit de modifier, de suspendre ou de résilier nos services à tout moment, à notre entière discrétion, sans préavis.</p>
  <p>Vous convenez que nous ne serons pas responsables des modifications ou de la résiliation des services.</p>

  <h2>5. Limitations de responsabilité</h2>
  <p>Vous convenez que nous ne serons pas responsables de tout dommage direct, indirect, spécial ou consécutif découlant de votre utilisation de nos services, y compris, mais sans s'y limiter, la perte de profits, la perte de données, etc.</p>

  <h2>6. Propriété intellectuelle</h2>
  <p>Nous nous réservons tous les droits de propriété intellectuelle sur nos services, y compris, mais sans s'y limiter, les logiciels, les marques de commerce, les logos, etc. Aucune entreprise ou personne n'est autorisée à copier ou à mettre en miroir le contenu de ce site.</p>

  <h2>7. Autres conditions</h2>
  <p>Le présent accord constitue l'intégralité de l'accord entre vous et nous concernant les services, remplaçant tout accord oral ou écrit antérieur entre vous et nous.</p>
  <p>Si une disposition du présent accord est jugée invalide ou inapplicable, cette disposition sera réputée dissociable sans affecter la validité et l'applicabilité des autres dispositions.</p>

  <h2>8. Explication des modifications des conditions</h2>
  <p>Nous nous réservons le droit de modifier les présentes Conditions d'utilisation à tout moment sans préavis aux utilisateurs. En cas de modification, nous les publierons sur cette page. Vous devriez consulter cette page périodiquement pour obtenir les dernières Conditions d'utilisation, et l'utilisation continue de ce service sera considérée comme une acceptation par l'utilisateur des conditions modifiées.</p>

  <h2>9. Contactez-nous</h2>
  <p>Si vous avez des questions ou des commentaires, veuillez nous contacter en utilisant les coordonnées suivantes :</p>
</section>
    </main>
     <footer>
       <section class="footer-content">
         <div class="brand">
           <div class="logo">À propos de FiddleBops</div>
           <p> Veuillez noter que les différentes versions de FiddleBops peuvent varier légèrement. La description ci-dessus fournit un cadre de jeu général.<br>Des étapes plus spécifiques peuvent être disponibles pour des versions spécifiques du jeu FiddleBops.
           </p>
         </div>
        <div class="footer-links">
         <div class="legal">
           <h3>Mentions légales</h3>
            <ul>
                 <li><a href="/fr/privacy" rel="nofollow">Politique de confidentialité</a></li>
                  <li><a href="/fr/terms-of-service" rel="nofollow">Conditions d'utilisation</a></li>
            </ul>
        </div>
         <div class="language">
           <h3>Sélection de la langue</h3>
           <ul>
            <li><a href="/terms-of-service">English</a></li>
            <li><a href="/zh/terms-of-service">中文</a></li>
            <li><a href="/fr/terms-of-service">Français</a></li>
            <li><a href="/es/terms-of-service">Español</a></li>
            <li><a href="/de/terms-of-service">Deutsch</a></li> 
            <li><a href="/ja/terms-of-service">日本語</a></li>
            <li><a href="/ko/terms-of-service">한국어</a></li>
            </ul>
         </div>
        </div>
      </section>
     <p class="copyright">© 2025 FiddleBops Tous droits réservés.</p>
    </footer>
</body>
</html>