---
import "../styles/style.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Privacy Policy - FiddleBops Create Music Online for Free</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const navToggle = document.querySelector('.nav-toggle');
    const navLinks = document.querySelector('.nav-links');

    navToggle.addEventListener('click', function() {
        navLinks.classList.toggle('active');
    });
});
  </script>
</head>
<body>
    <header>
<nav>
            <div class = "nav-top">
                <div class="logo"><a href="/">FiddleBops</a></div>
               <button class="nav-toggle">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </button>

            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/#descrip">FiddleBops Gameplay</a></li>
                <li><a href="/#faq">FAQ</a></li>
            </ul>

        </nav>
    </header>
   <main>
<section>
  <h1>Privacy Policy</h1>

  <p>Last Updated: February 14, 2025</p>

  <p>We take your privacy very seriously. This Privacy Policy explains our practices regarding the collection, use, disclosure, and protection of your personal information.</p>

  <h2>Information We Collect</h2>

  <p>When you use our Services, we may collect the following types of personal information:</p>

  <ul>
    <li><strong>Device Information:</strong> Such as your IP address, device type, browser type, operating system, etc.</li>
    <li><strong>Cookies and Similar Technologies:</strong> We may use cookies and similar technologies to collect and store information about your visits to or use of our Services.</li>
  </ul>

  <h2>How We Use Your Information</h2>

  <p>We may use the personal information we collect to:</p>

  <ul>
    <li>Provide and maintain our Services;</li>
    <li>Analyze and improve our Services;</li>
    <li>Prevent fraud and ensure security.</li>
  </ul>

  <h2>Sharing and Disclosure of Information</h2>

  <p>We will not sell, rent, or trade your personal information to any third parties. However, we may share your information with the following third parties:</p>

  <ul>
    <li><strong>Service Providers:</strong> We may partner with third-party companies and individuals to provide services or perform service-related functions on our behalf;</li>
    <li><strong>Legal Requirements:</strong> We may disclose your personal information as required by law or legal process;</li>
    <li><strong>Your Consent:</strong> We may share your personal information with other parties with your consent.</li>
  </ul>

  <h2>How We Protect Your Information</h2>

  <p>We have implemented appropriate security measures to protect your personal information from unauthorized access, modification, or disclosure. However, due to the nature of the Internet, we cannot guarantee the absolute security of information.</p>

  <h2>Updates to This Privacy Policy</h2>

  <p>We may update this Privacy Policy from time to time. Any updated Privacy Policy will be posted on this page prior to the effective date. We encourage you to review this page periodically to stay informed about how we are protecting your personal information.</p>

  <h2>Contact Us</h2>

  <p>If you have any questions or comments about this Privacy Policy, please contact us through the following contact information:</p>
</section>

    </main>
     <footer>
       <section class="footer-content">
         <div class="brand">
           <div class="logo">About FiddleBops</div>
           <p>Please note that different versions of FiddleBops may vary slightly. The above description provides a general gameplay framework. <br>More specific steps may be available for specific versions of the FiddleBops game.
           </p>
         </div>
         <div class="footer-links">
         <div class="legal">
           <h3>Legal</h3>
            <ul>
                 <li><a href="/privacy" rel="nofollow">Privacy Policy</a></li>
                  <li><a href="/terms-of-service" rel="nofollow">Terms of service</a></li>
            </ul>
        </div>
         <div class="language">
           <h3>Language</h3>
            <ul>
                <li><a href="/privacy">English</a></li>
                 <li><a href="/zh/privacy">中文</a></li>
                  <li><a href="/fr/privacy">Français</a></li>
                 <li><a href="/es/privacy">Español</a></li>
                 <li><a href="/de/privacy">Deutsch</a></li>
                <li><a href="/ja/privacy">日本語</a></li>
                  <li><a href="/ko/privacy">한국어</a></li>
            </ul>
         </div>
        </div>
      </section>
     <p class="copyright">© 2025 FiddleBops All rights reserved.</p>
    </footer>
</body>
</html>