---
import "../../styles/style.css";
---

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datenschutzrichtlinie - FiddleBops Kostenloses Online-Musikspiel</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const navToggle = document.querySelector('.nav-toggle');
    const navLinks = document.querySelector('.nav-links');

    navToggle.addEventListener('click', function() {
        navLinks.classList.toggle('active');
    });
});
  </script>
</head>
<body>
    <header>
<nav>
            <div class = "nav-top">
                <div class="logo"><a href="/de">FiddleBops</a></div>
               <button class="nav-toggle">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </button>

            </div>
            <ul class="nav-links">
                <li><a href="/de">Startseite</a></li>
                <li><a href="/de#descrip">FiddleBops Spielanleitung</a></li>
                <li><a href="/de#faq">FAQ</a></li>
            </ul>

        </nav>
    </header>
   <main>
<section>
  <h1>Datenschutzrichtlinie</h1>

  <p>Letzte Aktualisierung: 14. Februar 2025</p>

  <p>Wir nehmen Ihre Privatsphäre sehr ernst. Diese Datenschutzrichtlinie erläutert unsere Praktiken in Bezug auf die Erhebung, Verwendung, Offenlegung und den Schutz Ihrer persönlichen Daten.</p>

  <h2>Informationen, die wir sammeln</h2>

  <p>Wenn Sie unsere Dienste nutzen, können wir die folgenden Arten von persönlichen Daten erfassen:</p>

  <ul>
    <li><strong>Geräteinformationen:</strong> Wie z. B. Ihre IP-Adresse, Ihr Gerätetyp, Ihr Browsertyp, Ihr Betriebssystem usw.</li>
    <li><strong>Cookies und ähnliche Technologien:</strong> Wir können Cookies und ähnliche Technologien verwenden, um Informationen über Ihre Besuche oder Ihre Nutzung unserer Dienste zu sammeln und zu speichern.</li>
  </ul>

  <h2>Wie wir Ihre Informationen verwenden</h2>

  <p>Wir können die persönlichen Daten, die wir erfassen, verwenden, um:</p>

  <ul>
    <li>Unsere Dienste bereitzustellen und zu warten;</li>
    <li>Unsere Dienste zu analysieren und zu verbessern;</li>
    <li>Betrug zu verhindern und die Sicherheit zu gewährleisten.</li>
  </ul>

  <h2>Weitergabe und Offenlegung von Informationen</h2>

  <p>Wir werden Ihre persönlichen Daten nicht an Dritte verkaufen, vermieten oder mit ihnen handeln. Wir können Ihre Informationen jedoch an die folgenden Dritten weitergeben:</p>

  <ul>
    <li><strong>Dienstanbieter:</strong> Wir können mit Drittunternehmen und Einzelpersonen zusammenarbeiten, um Dienstleistungen zu erbringen oder dienstleistungsbezogene Funktionen in unserem Namen auszuführen;</li>
    <li><strong>Gesetzliche Anforderungen:</strong> Wir können Ihre persönlichen Daten offenlegen, wenn dies gesetzlich oder durch ein Gerichtsverfahren vorgeschrieben ist;</li>
    <li><strong>Ihre Einwilligung:</strong> Wir können Ihre persönlichen Daten mit Ihrer Einwilligung an andere Parteien weitergeben.</li>
  </ul>

  <h2>Wie wir Ihre Informationen schützen</h2>

  <p>Wir haben angemessene Sicherheitsmaßnahmen ergriffen, um Ihre persönlichen Daten vor unbefugtem Zugriff, Änderung oder Offenlegung zu schützen. Aufgrund der Natur des Internets können wir jedoch die absolute Sicherheit von Informationen nicht garantieren.</p>

  <h2>Aktualisierungen dieser Datenschutzrichtlinie</h2>

  <p>Wir können diese Datenschutzrichtlinie von Zeit zu Zeit aktualisieren. Jede aktualisierte Datenschutzrichtlinie wird vor dem Datum des Inkrafttretens auf dieser Seite veröffentlicht. Wir empfehlen Ihnen, diese Seite regelmäßig zu überprüfen, um sich darüber zu informieren, wie wir Ihre persönlichen Daten schützen.</p>

  <h2>Kontaktieren Sie uns</h2>

  <p>Wenn Sie Fragen oder Anmerkungen zu dieser Datenschutzrichtlinie haben, kontaktieren Sie uns bitte über die folgenden Kontaktinformationen:</p>
</section>

    </main>
     <footer>
       <section class="footer-content">
         <div class="brand">
           <div class="logo">Über FiddleBops</div>
           <p> Bitte beachte, dass es geringfügige Unterschiede zwischen verschiedenen Versionen von FiddleBops geben kann. Die obige Beschreibung bietet einen allgemeinen Überblick über den Spielablauf.<br>Für bestimmte FiddleBops-Spiele sind möglicherweise spezifischere Schritte verfügbar.
           </p>
         </div>
         <div class="footer-links">
        <div class="legal">
           <h3>Rechtliches</h3>
            <ul>
                 <li><a href="/de/privacy" rel="nofollow">Datenschutzrichtlinie</a></li>
                 <li><a href="/de/terms-of-service" rel="nofollow">Nutzungsbedingungen</a></li>
            </ul>
        </div>
           <div class="language">
            <h3>Sprachauswahl</h3>
            <ul>
              <li><a href="/privacy">English</a></li>
              <li><a href="/zh/privacy">中文</a></li>
              <li><a href="/fr/privacy">Français</a></li>
              <li><a href="/es/privacy">Español</a></li>
              <li><a href="/de/privacy">Deutsch</a></li> 
              <li><a href="/ja/privacy">日本語</a></li>
              <li><a href="/ko/privacy">한국어</a></li>
             </ul>
          </div>
        </div>
      </section>
     <p class="copyright">© 2025 FiddleBops Alle Rechte vorbehalten.</p>
    </footer>
</body>
</html>