---
import "../../styles/style.css";
---

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutzungsbedingungen - FiddleBops Kostenloses Online-Musikspiel</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const navToggle = document.querySelector('.nav-toggle');
    const navLinks = document.querySelector('.nav-links');

    navToggle.addEventListener('click', function() {
        navLinks.classList.toggle('active');
    });
});
  </script>
</head>
<body>
    <header>
<nav>
            <div class = "nav-top">
                <div class="logo">FiddleBops</div>
               <button class="nav-toggle">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </button>

            </div>
            <ul class="nav-links">
                <li><a href="/de">Startseite</a></li>
                <li><a href="/de#descrip">FiddleBops Spielanleitung</a></li>
                <li><a href="/de#faq">FAQ</a></li>
            </ul>

        </nav>
    </header>
   <main>
<section>
  <h1>Nutzungsbedingungen</h1>

  <p>Letzte Aktualisierung: 13. Februar 2025</p>

  <h2>1. Beschreibung der Dienstleistung</h2>
  <p>Diese Nutzungsbedingungen legen die rechtliche Vereinbarung zwischen Ihnen und FiddleBops in Bezug auf die Nutzung unserer Dienstleistungen fest. Durch den Zugriff auf oder die Nutzung unserer Dienstleistungen erklären Sie sich damit einverstanden, alle Bestimmungen und Bedingungen dieser Vereinbarung einzuhalten. Wenn Sie mit irgendeinem Teil dieser Vereinbarung nicht einverstanden sind, dürfen Sie unsere Dienstleistungen nicht nutzen.</p>

  <h2>2. Verantwortung des Nutzers</h2>
  <p>Sie stimmen zu, unsere Dienste nicht für illegale oder rechtswidrige Aktivitäten zu nutzen.</p>
  <p>Sie stimmen zu, den normalen Betrieb unserer Dienste in keiner Weise zu stören, zu beschädigen oder zu unterbrechen.</p>
  <p>Sie stimmen zu, unsere Dienste nicht zu nutzen, um Handlungen vorzunehmen, die die Rechte anderer verletzen, einschließlich, aber nicht beschränkt auf die Verletzung von Rechten des geistigen Eigentums oder die Verletzung von Datenschutzrechten.</p>

  <h2>3. Regeln für die Nutzung des Dienstes</h2>
  <p>Sie stimmen zu, alle von uns aufgestellten Nutzungsregeln und Richtlinien für den Dienst einzuhalten.</p>
  <p>Wir behalten uns das Recht vor, Ihren Zugang zu den Diensten jederzeit nach unserem Ermessen zu ändern, auszusetzen oder zu beenden.</p>

  <h2>4. Änderungen und Beendigung der Dienste</h2>
  <p>Wir behalten uns das Recht vor, unsere Dienste jederzeit nach unserem Ermessen und ohne vorherige Ankündigung zu ändern, auszusetzen oder zu beenden.</p>
  <p>Sie stimmen zu, dass wir keine Haftung für Änderungen oder die Beendigung der Dienste übernehmen.</p>

  <h2>5. Haftungsbeschränkung</h2>
  <p>Sie stimmen zu, dass wir nicht für direkte, indirekte, besondere oder Folgeschäden haften, die sich aus Ihrer Nutzung unserer Dienste ergeben, einschließlich, aber nicht beschränkt auf entgangenen Gewinn, Datenverlust usw.</p>

  <h2>6. Geistiges Eigentum</h2>
  <p>Wir behalten uns alle Rechte am geistigen Eigentum an unseren Dienstleistungen vor, einschließlich, aber nicht beschränkt auf Software, Marken, Logos usw. Es ist keinem Unternehmen oder keiner Person gestattet, Inhalte dieser Website zu kopieren oder zu spiegeln.</p>

  <h2>7. Sonstige Bestimmungen</h2>
  <p>Diese Vereinbarung stellt die gesamte Vereinbarung zwischen Ihnen und uns in Bezug auf die Dienstleistungen dar und ersetzt alle vorherigen mündlichen oder schriftlichen Vereinbarungen zwischen Ihnen und uns.</p>
  <p>Sollte eine Bestimmung dieser Vereinbarung als ungültig oder nicht durchsetzbar erachtet werden, so gilt diese Bestimmung als aufgehoben, ohne die Gültigkeit und Durchsetzbarkeit der übrigen Bestimmungen zu beeinträchtigen.</p>

  <h2>8. Erläuterung der Änderungen der Bedingungen</h2>
  <p>Wir behalten uns das Recht vor, diese Nutzungsbedingungen jederzeit ohne vorherige Benachrichtigung der Benutzer zu ändern. Für jegliche Änderungen werden wir diese auf dieser Seite veröffentlichen. Sie sollten diese Seite regelmäßig überprüfen, um die neuesten Nutzungsbedingungen zu erhalten, und die fortgesetzte Nutzung dieses Dienstes gilt als Zustimmung des Nutzers zu den geänderten Bedingungen.</p>

  <h2>9. Kontaktieren Sie uns</h2>
  <p>Wenn Sie Fragen oder Anmerkungen haben, kontaktieren Sie uns bitte über die folgenden Kontaktinformationen:</p>
</section>

    </main>
     <footer>
       <section class="footer-content">
         <div class="brand">
           <div class="logo">Über FiddleBops</div>
           <p> Bitte beachte, dass es geringfügige Unterschiede zwischen verschiedenen Versionen von FiddleBops geben kann. Die obige Beschreibung bietet einen allgemeinen Überblick über den Spielablauf.<br>Für bestimmte FiddleBops-Spiele sind möglicherweise spezifischere Schritte verfügbar.
           </p>
         </div>
         <div class="footer-links">
        <div class="legal">
           <h3>Rechtliches</h3>
            <ul>
                 <li><a href="/de/privacy" rel="nofollow">Datenschutzrichtlinie</a></li>
                 <li><a href="/de/terms-of-service" rel="nofollow">Nutzungsbedingungen</a></li>
            </ul>
        </div>
           <div class="language">
            <h3>Sprachauswahl</h3>
            <ul>
              <li><a href="/terms-of-service">English</a></li>
              <li><a href="/zh/terms-of-service">中文</a></li>
              <li><a href="/fr/terms-of-service">Français</a></li>
              <li><a href="/es/terms-of-service">Español</a></li>
              <li><a href="/de/terms-of-service">Deutsch</a></li> 
              <li><a href="/ja/terms-of-service">日本語</a></li>
              <li><a href="/ko/terms-of-service">한국어</a></li>
             </ul>
          </div>
        </div>
      </section>
     <p class="copyright">© 2025 FiddleBops Alle Rechte vorbehalten.</p>
    </footer>
</body>
</html>