---
import "../../styles/style.css";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad - FiddleBops Crea Música Gratis en Línea</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const navToggle = document.querySelector('.nav-toggle');
    const navLinks = document.querySelector('.nav-links');

    navToggle.addEventListener('click', function() {
        navLinks.classList.toggle('active');
    });
});
  </script>
</head>
<body>
    <header>
<nav>
            <div class = "nav-top">
                <div class="logo"><a href="/es">FiddleBops</a></div>
               <button class="nav-toggle">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </button>

            </div>
            <ul class="nav-links">
                <li><a href="/es">Inicio</a></li>
                <li><a href="/es#descrip">Cómo jugar FiddleBops</a></li>
                <li><a href="/es#faq">Preguntas Frecuentes</a></li>
            </ul>

        </nav>
    </header>
   <main>
<section>
  <h1>Política de Privacidad</h1>

  <p>Última actualización: 14 de febrero de 2025</p>

  <p>Nos tomamos muy en serio su privacidad. Esta Política de Privacidad explica nuestras prácticas con respecto a la recopilación, el uso, la divulgación y la protección de su información personal.</p>

  <h2>Información que recopilamos</h2>

  <p>Cuando utiliza nuestros Servicios, podemos recopilar los siguientes tipos de información personal:</p>

  <ul>
    <li><strong>Información del Dispositivo:</strong> Como su dirección IP, tipo de dispositivo, tipo de navegador, sistema operativo, etc.</li>
    <li><strong>Cookies y Tecnologías Similares:</strong> Podemos utilizar cookies y tecnologías similares para recopilar y almacenar información sobre sus visitas o su uso de nuestros Servicios.</li>
  </ul>

  <h2>Cómo utilizamos su información</h2>

  <p>Podemos utilizar la información personal que recopilamos para:</p>

  <ul>
    <li>Proporcionar y mantener nuestros Servicios;</li>
    <li>Analizar y mejorar nuestros Servicios;</li>
    <li>Prevenir el fraude y garantizar la seguridad.</li>
  </ul>

  <h2>Compartir y Divulgación de Información</h2>

  <p>No venderemos, alquilaremos ni negociaremos su información personal con terceros. Sin embargo, podemos compartir su información con los siguientes terceros:</p>

  <ul>
    <li><strong>Proveedores de Servicios:</strong> Podemos asociarnos con empresas e individuos externos para proporcionar servicios o realizar funciones relacionadas con el servicio en nuestro nombre;</li>
    <li><strong>Requisitos Legales:</strong> Podemos divulgar su información personal según lo exija la ley o un proceso legal;</li>
    <li><strong>Su Consentimiento:</strong> Podemos compartir su información personal con otras partes con su consentimiento.</li>
  </ul>

  <h2>Cómo protegemos su información</h2>

  <p>Hemos implementado medidas de seguridad adecuadas para proteger su información personal contra el acceso, la modificación o la divulgación no autorizados. Sin embargo, debido a la naturaleza de Internet, no podemos garantizar la seguridad absoluta de la información.</p>

  <h2>Actualizaciones a esta Política de Privacidad</h2>

  <p>Podemos actualizar esta Política de Privacidad de vez en cuando. Cualquier Política de Privacidad actualizada se publicará en esta página antes de la fecha de entrada en vigor. Le recomendamos que revise periódicamente esta página para mantenerse informado sobre cómo protegemos su información personal.</p>

  <h2>Contáctenos</h2>

  <p>Si tiene alguna pregunta o comentario sobre esta Política de Privacidad, comuníquese con nosotros a través de la siguiente información de contacto:</p>
</section>

    </main>
     <footer>
       <section class="footer-content">
         <div class="brand">
           <div class="logo">Acerca de FiddleBops</div>
            <p>Ten en cuenta que las diferentes versiones de FiddleBops pueden variar ligeramente. La descripción anterior proporciona un marco general de juego.<br>Es posible que haya pasos más específicos disponibles para versiones específicas del juego FiddleBops.
           </p>
         </div>
         <div class="footer-links">
          <div class="legal">
             <h3>Legal</h3>
            <ul>
                 <li><a href="/es/privacy" rel="nofollow">Política de privacidad</a></li>
                  <li><a href="/es/terms-of-service" rel="nofollow">Términos de Servicio</a></li>
            </ul>
          </div>
           <div class="language">
            <h3>Selección de idioma</h3>
             <ul>
              <li><a href="/privacy">English</a></li>
              <li><a href="/zh/privacy">中文</a></li>
              <li><a href="/fr/privacy">Français</a></li>
              <li><a href="/es/privacy">Español</a></li>
              <li><a href="/de/privacy">Deutsch</a></li> 
              <li><a href="/ja/privacy">日本語</a></li>
              <li><a href="/ko/privacy">한국어</a></li>
            </ul>
          </div>
         </div>
       </section>
     <p class="copyright">© 2025 FiddleBops Todos los derechos reservados.</p>
    </footer>
</body>
</html>