---
import "../../styles/style.css";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiddleBops Crea Música Gratis en Línea</title>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const navToggle = document.querySelector('.nav-toggle');
    const navLinks = document.querySelector('.nav-links');

    navToggle.addEventListener('click', function() {
        navLinks.classList.toggle('active');
    });
});
  </script>
</head>
<body>
    <header>
<nav>
            <div class = "nav-top">
                <div class="logo"><a href="/es">FiddleBops</a></div>
               <button class="nav-toggle">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </button>

            </div>
            <ul class="nav-links">
                <li><a href="/es">Inicio</a></li>
                <li><a href="/es#descrip">Cómo jugar FiddleBops</a></li>
                <li><a href="/es#faq">Preguntas Frecuentes</a></li>
            </ul>

        </nav>
    </header>
   <main>
<section>
  <h1>Términos de Servicio</h1>

  <p>Última actualización: 13 de febrero de 2025</p>

  <h2>1. Descripción del Servicio</h2>
  <p>Estos Términos de Servicio establecen el acuerdo legal entre usted y FiddleBops con respecto al uso de nuestros servicios. Al acceder o utilizar nuestros servicios, usted acepta cumplir con todos los términos y condiciones de este acuerdo. Si no está de acuerdo con alguna parte de este acuerdo, no podrá utilizar nuestros servicios.</p>

  <h2>2. Responsabilidades del Usuario</h2>
  <p>Usted acepta no utilizar nuestros servicios para realizar ninguna actividad ilegal o ilícita.</p>
  <p>Usted acepta no interferir, dañar o interrumpir el funcionamiento normal de nuestros servicios de ninguna manera.</p>
  <p>Usted acepta no utilizar nuestros servicios para participar en ninguna acción que infrinja los derechos de otros, incluyendo, entre otros, la infracción de los derechos de propiedad intelectual o la violación de los derechos de privacidad.</p>

  <h2>3. Reglas de Uso del Servicio</h2>
  <p>Usted acepta cumplir con todas las reglas y políticas de uso del servicio establecidas por nosotros.</p>
  <p>Nos reservamos el derecho de modificar, suspender o cancelar su acceso a los servicios en cualquier momento según nuestro criterio.</p>

  <h2>4. Cambios y Terminación de los Servicios</h2>
  <p>Nos reservamos el derecho de modificar, suspender o cancelar nuestros servicios en cualquier momento según nuestro criterio, sin previo aviso.</p>
  <p>Usted acepta que no seremos responsables de ninguna responsabilidad por cambios o la terminación de los servicios.</p>

  <h2>5. Limitación de Responsabilidad</h2>
  <p>Usted acepta que no seremos responsables de ningún daño directo, indirecto, especial o consecuente que surja de su uso de nuestros servicios, incluyendo, entre otros, la pérdida de ganancias, la pérdida de datos, etc.</p>

  <h2>6. Propiedad Intelectual</h2>
  <p>Nos reservamos todos los derechos de propiedad intelectual de nuestros servicios, incluyendo pero no limitado a software, marcas registradas, logotipos, etc. Ninguna empresa o individuo puede copiar o reflejar el contenido de este sitio.</p>

  <h2>7. Otros Términos</h2>
  <p>Este acuerdo constituye el acuerdo completo entre usted y nosotros con respecto a los servicios, reemplazando cualquier acuerdo oral o escrito previo entre usted y nosotros.</p>
  <p>Si alguna disposición de este acuerdo se considera inválida o inaplicable, dicha disposición se considerará separada sin afectar la validez y aplicabilidad de las demás disposiciones.</p>

  <h2>8. Explicación de los Cambios en los Términos</h2>
  <p>Nos reservamos el derecho de modificar estos Términos de Servicio en cualquier momento sin previo aviso a los usuarios. Para cualquier modificación, la publicaremos en esta página. Debe revisar periódicamente esta página para obtener los últimos Términos de Servicio, y el uso continuado de este servicio se considerará como la aceptación por parte del usuario de los términos modificados.</p>

  <h2>9. Contáctenos</h2>
  <p>Si tiene alguna pregunta o comentario, por favor contáctenos a través de la siguiente información de contacto:</p>
</section>
    </main>
     <footer>
       <section class="footer-content">
         <div class="brand">
           <div class="logo">Acerca de FiddleBops</div>
            <p>Ten en cuenta que las diferentes versiones de FiddleBops pueden variar ligeramente. La descripción anterior proporciona un marco general de juego.<br>Es posible que haya pasos más específicos disponibles para versiones específicas del juego FiddleBops.
           </p>
         </div>
         <div class="footer-links">
          <div class="legal">
             <h3>Legal</h3>
            <ul>
                 <li><a href="/es/privacy" rel="nofollow">Política de privacidad</a></li>
                  <li><a href="/es/terms-of-service" rel="nofollow">Términos de Servicio</a></li>
            </ul>
          </div>
           <div class="language">
            <h3>Selección de idioma</h3>
             <ul>
              <li><a href="/terms-of-service">English</a></li>
              <li><a href="/zh/terms-of-service">中文</a></li>
              <li><a href="/fr/terms-of-service">Français</a></li>
              <li><a href="/es/terms-of-service">Español</a></li>
              <li><a href="/de/terms-of-service">Deutsch</a></li> 
              <li><a href="/ja/terms-of-service">日本語</a></li>
              <li><a href="/ko/terms-of-service">한국어</a></li>
            </ul>
          </div>
         </div>
       </section>
     <p class="copyright">© 2025 FiddleBops Todos los derechos reservados.</p>
    </footer>
</body>
</html>